@import "../mixins/fontStyle";
@import "../mixins/transition";
@import "../variables/cmnColor";
@import "../mixins/borderRadius";
@import "../extends/flex";

#clothing_part{
    .title_wrapper{
        margin-bottom: 35px;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: -15px;
            width: 100%;
            height: 1px;
            background-color: #ddd;
        }
        .title_left{
            h2{
                @include font_style(#333, 20px, 700, "Poppins");
            }
        }
        .title_right{
            a{
                span{
                    @include font_style(#333, 14px, 600, "Poppins");
                }
                &:hover{
                    span{
                        color: $cmn_color;
                    }
                }
            }
        }
    }
    .weekend_wrapper{
        .weekendLeft{
            margin-right: 20px;
            .weekendLeft_img{
                position: relative;
                img{
                    @include b-radius(3px);
                }
                &:hover{
                    .ovly{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .ovly{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(247, 234, 234, 0.3);
                visibility: hidden;
                opacity: 0;
                
            }
            .weekendLeft_text{
                position: absolute;
                left: 0;
                top: 0;
                padding-top: 30px;
                padding-left: 30px;
                p{
                    @include font_style(#333, 18px, 400, "Poppins");
                    margin-bottom: 23px;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -15px;
                        width: 40px;
                        height: 3px;
                        background-color: #333;
                    }
                }
                h2{
                    @include font_style(#333, 27px, 700, "Poppins");
                    text-transform: uppercase;
                    span{
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                }
                a{
                    @include font_style(#333, 13px, 700, "Poppins");
                    text-transform: uppercase;
                    padding: 5px 20px;
                    border: 2px solid #333;
                    @include b-radius(3px);
                    margin-top: 20px;
                    &:hover{
                        background-color: #333;
                        color: #fff;
                        @include transition(.3s);
                    }
                }
            }
        }
        
        .weekendRight{
            .weekendRight_img{
                position: relative;
                cursor: pointer;
                .main_img{
                    margin-bottom: 15px;
                }
                .hover_img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                }
                &:hover{
                    .hover_img{
                        display: block;
                    }
                    .ovly{
                        ul{
                            li{
                                a{
                                    i{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                .ovly{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    ul{
                        li{
                            a{
                                i{
                                    width: 30px;
                                    height: 30px;
                                    background-color: #fff;
                                    font-size: 12px;
                                    color: #999;
                                    text-align: center;
                                    line-height: 30px;
                                    margin: 3px 0;
                                    @include b-radius(50%);
                                    @include transition(.3s);
                                    visibility: hidden;
                                    opacity: 0;
                                    &:hover{
                                        background-color: $cmn_color;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .weekendRight_text{
                margin-top: -8px;
                a{
                    @include font_style(#333, 13px, 500, "Poppins");
                    &:hover{
                        color: $cmn_color;
                    }
                }
                .review{
                    position: relative;
                    margin-top: -4px;
                    a{
                        color: #ccc;
                        font-size: 12px;
                        span{
                            &:hover{
                                color: $cmn_color;
                            }
                        }
                    }
                    .review_hover{
                        p{
                            @include font_style(#fff, 12px, 400, "Poppins");
                        }
                        position: absolute;
                        text-align: center;
                        line-height: 30px;
                        left: 55px;
                        top: -30px;
                        width: 20px;
                        height: 30px;
                        background-color: #333;
                        visibility: hidden;
                        opacity: 0;
                        &::after {
                            position: absolute;
                            content: "";
                            left: 5px;
                            bottom: -6px;
                            width: 10px;
                            height: 6px;
                            background-color: #333;
                            -webkit-clip-path: polygon(100% 0, 0 0, 48% 100%);
                            clip-path: polygon(100% 0, 0 0, 48% 100%);
                        }
                    }
                    &:hover{
                        .review_hover{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                p{
                    @include font_style(#333, 16px, 600, "Poppins");
                    del{
                        @include font_style(#ccc, 16px, 400, "Poppins");
                    }
                }
            }
        }
    }
}