@import "../mixins/fontStyle";
@import "../mixins/transition";
@import "../variables/cmnColor";
@import "../mixins/borderRadius";

#easy_part{
    margin-top: 80px;
    background-color: #f5f5f5;
    padding: 100px 0;
    .easy_content{
        h4{
            @include font_style($cmn_color, 18px, 600, "Poppins");
        }
        h2{
            @include font_style(#333, 40px, 700, "Poppins");
            margin-top: 15px;

        }
        p{
            @include font_style(#666, 14px, 400, "Poppins");
            padding-right: 28px;
            margin-top: 15px;
        }
        .easy_item{
            .icon{
                svg{
                    fill: $cmn_color;
                }
            }
            p{
                @include font_style(#666, 16px, 600, "Poppins");
                margin-left: 20px;
                margin-top: 5px;
                padding-right: 0;
            }
        }
    }
    .easy_img{
        img{
            @include b-radius(5px);

        }
    }
}