@import "../mixins/fontStyle";
@import "../mixins/transition";
@import "../variables/cmnColor";
@import "../mixins/borderRadius";

#menu_part{
    background: #fff;
    border-top: 1px solid #f1f1f1;
    .left_dropDown{
        background: #f1f1f1;
        height: 50px;
        ul{
            li{
                a{
                    @include font_style(#333, 14px, 600, "Poppins");
                    text-transform: uppercase;
                    line-height: 50px;
                    padding: 0 20px;
                    .fa-list{
                        margin-right: 5px;
                    }
                    .fa-chevron-down{
                        margin-left: 39px;
                        font-size: 10px;
                    }
                }
                .dropDown_mega{
                    background-color: #fff;
                    box-shadow:  0px 0px 6px 0px #ccc;
                    position: relative;
                    z-index: 99;
                    ul{
                        li{
                            padding-left: 18px;
                            border-bottom: 1px solid #eeeeee;
                            position: relative;
                            &:hover a,
                            &:hover i{
                                color: $cmn_color;
                            }
                            a{
                                padding: 0 8px;
                                @include font_style(#333, 13px, 500, "Poppins");
                                text-transform: capitalize;
                                display: block;
                                position: relative;
                                i{
                                    color: #666;
                                    margin-right: 10px;
                                }
                                .icon_set{
                                    position: absolute;
                                    right: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 10px;
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                }
                            }
                            .side_mega_menu{
                                position: absolute;
                                left: 100%;
                                top: 0;
                                width: 680px;
                                background-color: #fff;
                                box-shadow:  -1px 0px 8px 0px #ccc;
                                visibility: hidden;
                                opacity: 0;
                                h3{
                                    padding: 15px 0;
                                    @include font_style(#333, 14px, 600, "Poppins");
                                    text-transform: uppercase;
                                    border-bottom: 1px solid #ccc;
                                    margin-left: 20px;
                                }
                                ul{
                                    margin: 10px 0;
                                    li{
                                        margin: -10px 0;
                                        border: 0;
                                        a{
                                            @include font_style(#333, 14px, 400, "Poppins");
                                            &:hover{
                                                color: $cmn_color;
                                            }
                                        }
                                    }
                                }
                                .side_img{
                                    position: relative;
                                    img{
                                        height: 417px;
                                        object-fit: cover;
                                    }
                                    .side_ovly{
                                        padding: 20px;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        p{
                                            @include font_style(#333, 14px, 500, "Poppins");
                                            span{
                                                @include font_style($cmn_color, 14px, 500, "Poppins");
                                                text-transform: uppercase;
                                            }
                                        }
                                        strong{
                                            @include font_style(#333, 25px, 700, "Poppins");
                                        }
                                        .side_btn{
                                            &:hover i{
                                                margin-left: 5px;
                                            }
                                            a{
                                                @include font_style(#333, 14px, 500, "Poppins");
                                                text-transform: uppercase;
                                            }
                                            i{
                                                color: #333;
                                                @include transition(.1s);
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .side_mega_menu{
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mid_dropDown{
        .main_menu{
            height: 50px;
            ul{
                li{
                    position: relative;
                    z-index: 1;
                    a{
                        @include font_style(#333, 14px, 600, "Poppins");
                        @include transition(.3s);
                        padding: 14px 0 10px 0;
                        margin-right: 25px;
                        position: relative;
                        i{
                            font-size: 10px;
                            margin-left: 5px;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 6px;
                            width: 100%;
                            height: 3px;
                            background-color: $cmn_color;
                            transform: scale(0);
                            transition: transform .3s;
                            transform-origin: 100% 0;
                        }
                        &:hover{
                            &::after{
                                transform: scale(1);
                                transform-origin: 0 0;
                            }
                        }
                    }
                    &:hover a{
                        color: $cmn_color;
                    }
                    .main_mega_menu{
                        position: absolute;
                        width: 800px;
                        padding: 20px;
                        background-color: #fff;
                        box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
                        visibility: hidden;
                        opacity: 0;
                        h3{
                            @include font_style(#333, 16px, 600, "Poppins");
                            text-transform: uppercase;
                            margin-bottom: 15px;
                        }
                        ul{
                            li{
                                a{
                                    padding: 5px 0 10px 0;
                                    margin-right: 0;
                                    @include font_style(#333, 14px, 400, "Poppins");
                                    &:hover{
                                        color: $cmn_color;
                                    }
                                    span{
                                        padding: 1px 5px;
                                        @include font_style(#fff, 10px, 600, "Poppins");
                                        @include b_radius(3px);
                                    }
                                    .hot{
                                        background-color: #ff9742;
                                    }
                                    .new{
                                        background-color: $cmn_color;
                                    }
                                    &::after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .main_mega_menu{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    .vendor_outerDrop{
                        position: absolute;
                        padding: 20px;
                        width: 170px;
                        background-color: #fff;
                        box-shadow:  0px 0px 6px 0px #ccc;
                        visibility: hidden;
                        opacity: 0;
                        ul{
                            li{
                                a{
                                    position: relative;
                                    @include font_style(#333, 14px, 400, "Poppins");
                                    padding: 8px 0;
                                    display: block;
                                    &:hover{
                                        color: $cmn_color;
                                    }
                                    i{
                                        
                                        position: absolute;
                                        right: -20px;
                                        top: 14px;
                                        font-size: 10px;
                                    }
                                    &::after{
                                        display: none;
                                    }
                                }
                                &:hover{
                                    .vender_innderDrop_one,
                                    .vender_innderDrop_two{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .vender_innderDrop_one,
                        .vender_innderDrop_two{
                            position: absolute;
                            left: 152px;
                            top: 0;
                            width: 200px;
                            padding: 20px;
                            background-color: #fff;
                            box-shadow:  0px 0px 6px 0px #ccc; 
                            visibility: hidden;
                            opacity: 0; 
                            ul{
                                li{
                                    a{
                                        padding: 10px 0;
                                        &::after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .vendor_outerDrop{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    &:hover{
                        .pages_dropDown{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .pages_mega{
                .pages_dropDown{
                    position: absolute;
                    background-color: #fff;
                    box-shadow:  0px 0px 6px 0px #ccc; 
                    width: 220px;
                    padding: 20px;
                    visibility: hidden;
                    opacity: 0;
                    ul{
                        li{
                            a{
                                @include font_style(#333, 14px, 400, "Poppins");
                                padding: 6px 0; 
                                &:hover{
                                    color: $cmn_color;
                                }
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .right_dropDown{
        height: 50px;
        ul{
            li{
                a{
                    @include font_style(#333, 14px, 600, "Poppins");
                    line-height: 50px;
                    &:hover{
                        color: $cmn_color;
                    }
                    i{
                        font-size: 20px;
                        margin-right: 5px;
                        line-height: 50px;

                    }
                    margin-left: 20px;
                }
            }
        }
    }
    
}

