@import "../mixins/fontStyle";
@import "../mixins/transition";
@import "../variables/cmnColor";
@import "../mixins/borderRadius";
@import "../extends/flex";

#topMonth_part{
    margin-top: 60px;
    background-color: #f5f5f5;
    .topMonth_head{
        h2{
            @include font_style(#333, 20px, 700, "Poppins");
            padding: 60px 0 20px;
        }
    }
    .topMonth_img{
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .topMonth_text{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
            h4{
                @include font_style(#333, 14px, 600, "Poppins");
                text-transform: capitalize;
            }
        }
        .ovly{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
            display: none;
            h3{
                @include font_style($cmn_color, 15px, 600, "Poppins");
                text-transform: uppercase;
            }
            &::after{
                position: absolute;
                content: "";
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 3px;
                background-color: $cmn_color;
                transform: scale(0);
                @include transition(.2s);
                transform-origin: transform 100% 0;
            }
            &:hover{
                &::after{
                    transform: scale(1);
                    transform-origin: 0 0;
                }
            }
        }
        &:hover{
            box-shadow: 0px 1px 25px 2px #ddd;
            img{
                transform: scale(1.2);
            }
            .topMonth_text{
                display: none;
            }
            .ovly{
                display: block;
            }
        }
    }
}